<% flash.each do |type, msg| %>
  <div id="hideMe" class="sticky top-0 bg-red-100 border border-red-400 text-red-700 px-4 py-3 text-center rounded relative">
    <%= msg %>
  </div>
<% end %>
<div class="w-full bg-no-repeat bg-cover" style="background-image: url(<%= asset_path('default-map.svg')%>); height: 100vh; overflow-y: scroll;">
  <section class="text-gray-600 body-font">
    <div class="container mx-auto mt-10" >
      <div class="xl:w-4/5 lg:w-3/4 bg-white p-8 flex flex-col md:mt-0 z-10 shadow-md rounded-lg mx-auto" >
      <%= render partial: '/trips/form/trips_form_title', :trip => @trip %>
      <hr class="mb-4" />  
      <%= render partial: '/trips/form/trips_form_fields', :trip => @trip %>
    </div>
  </section>
</div>